* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 100%;
  height: auto;
  background-color: rgba(245, 245, 245, 1);
}
.content-block {
  width: 100%;
  height: 70vh;
  margin-top: 3%;
  margin-bottom: 3%;
}
.navbar {
  height: auto;
}
.navbar-image {
  width: 100%;
}
.signup-block {
  width: 60%;
  margin: auto;
}
.login {
  font-weight: 600;
  font-size: 1.75rem;
  color: rgba(0, 0, 0, 0.5);
}
.adapt-login {
  display: none;
}
.regist {
  color: rgba(255, 0, 0, 1);
  font-weight: 600;
  font-size: 1.75rem;
}
.login-text {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  line-height: 1.5237rem;
  margin: 1% 0;
}
.inputs {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}
.login-input-block,
.password-input-block,
.email-input-block,
.passRepeat-input-block {
  background-color: white;
  border: solid 1px rgba(211, 211, 211, 1);
  border-radius: 3px;
  height: 48px;
  width: 70%;
  display: flex;
  padding-left: 2%;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  margin-bottom: 2%;
  font-size: 16px;
}
.login-input,
.password-input,
.email-input,
.passRepeat-input {
  height: 100%;
  width: 93%;
  padding-left: 3%;
  border: 0;
}
.login-input,
.email-input,
.password-input,
.passRepeat-input::placeholder {
  font-weight: 500;
  font-size: 16px;
}

.login-input,
.email-input,
.password-input,
.passRepeat-input:focus {
  outline: none;
}

.login-icon,
.password-icon,
.email-icon {
  width: 3.5%;
}
.login-button {
  background-color: rgba(255, 0, 0, 1);
  border: solid 1px rgba(211, 211, 211, 1);
  border-radius: 3px;
  height: 48px;
  width: 70%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 16px;
}

.footer-image {
  width: 100%;
}

@media all and (max-width: 425px) {
  .container {
    height: auto;
  }
  .content-block {
    height: auto;
  }
  * {
    font-size: 11.5px;
  }
  .signup-block {
    width: 90%;
  }
  .inputs {
    display: flex;
    flex-direction: column;
  }
  .login {
    display: none;
  }
  .login-text {
    margin: 2.5% 0;
  }
  .adapt-login {
    display: inline-block;
  }
  .login-input-block,
  .password-input-block,
  .email-input-block,
  .passRepeat-input-block {
    width: 100%;
    margin-bottom: 4%;
  }
  .login-button {
    width: 100%;
    margin: 8% 0;
  }
  .login-icon,
  .password-icon,
  .email-icon {
    width: 5.5%;
  }
}
