* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 100%;
  height: auto;
  background-color: rgba(245, 245, 245, 1);
}
.content-block {
  width: 100%;
  height: 70vh;
  margin-top: 3%;
  margin-bottom: 3%;
}
.navbar {
  height: auto;
}
.navbar-image {
  width: 100%;
}
.footer-image {
  width: 100%;
}
.personal-block {
  width: 62%;
  margin: auto;
  display: flex;
}
.personal-area-block {
  width: 30%;
}
.personal-area-title {
  color: rgba(255, 0, 0, 1);
  font-size: 1.5rem;
  font-weight: 500;
}
.personal-area-list {
  margin: 5% 0;
}
.personal-area-list > li {
  list-style-type: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 3rem;
  padding-left: 7%;
  width: 90%;
  margin-right: 2%;
}
.personal-item-text {
  margin-left: 3%;
}
.personal-area-list > li:first-child {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
}
.personal-data-block {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 1% 2%;
  width: 70%;
}
.personal-data-title {
  padding: 2%;
  display: flex;
  align-items: center;
}
.person-name {
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 1);
  margin-left: 3%;
}
.add-number-block,
.email-block,
.password-block {
  display: flex;
  border-radius: 2px;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.add-number-block:hover {
  background-color: rgba(239, 239, 239, 1);
}
.email-block:hover {
  background-color: rgba(239, 239, 239, 1);
}
.password-block:hover {
  background-color: rgba(239, 239, 239, 1);
}

.add-number,
.change-email,
.change-password {
  width: 88%;
  display: flex;
  align-items: center;
}
.add-number {
  padding: 0.7%;
}
.add-number-text-block {
  display: flex;
  flex-direction: column;
}
.add-number-text {
  font-weight: 600;
  margin-bottom: 2%;
}
.add-number-info-text {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.add-number-plus {
  width: 3%;
}
.phone-icon {
  width: 3.5%;
}
/* .email-block,
.password-block {
  display: flex;
  gap: 2% 2%;
  align-items: center;
  padding: 0 1.3%;
  height: 4rem;
} */
.email-text,
.password-text,
.number-text {
  font-weight: 600;
  margin-left: 2.8%;
}
.number-text {
  margin-left: 3%;
}
.person-number {
  font-weight: 500;
  margin-left: 4%;
}
.person-email {
  font-weight: 500;
  margin-left: 9%;
}
.password-date {
  font-weight: 500;
  margin-left: 6.5%;
}

@media all and (max-width: 425px) {
  .personal-area-list {
    display: none;
  }
  .personal-area-block h5 {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 2% 0;
  }
  .personal-block {
    width: 90%;
    flex-direction: column;
  }
  .personal-area-block {
    width: 100%;
  }
  .personal-data-block {
    width: 100%;
    margin-top: 5%;
  }
  .add-number-block {
    margin-top: 3%;
  }
  .password-block {
    margin-bottom: 4%;
  }
  .add-number-text-block {
    width: 80%;
  }
  .add-number-plus {
    width: 5%;
  }
  .phone-icon {
    width: 6%;
  }
  .person-email {
    margin-left: 11%;
  }
  .password-date {
    margin-left: 7%;
  }
}
