* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 100%;
  height: auto;
  background-color: rgba(245, 245, 245, 1);
}
.content-block {
  width: 100%;
  height: 70vh;
  margin-top: 3%;
  margin-bottom: 3%;
}
.navbar {
  height: auto;
}
.navbar-image {
  width: 100%;
}
.login-block {
  width: 60%;
  margin: auto;
}
.login {
  font-weight: 600;
  font-size: 1.75rem;
  color: rgba(255, 0, 0, 1);
}
.adapt-login {
  display: none;
}
.regist {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 1.75rem;
}
.login-text {
  width: 90%;
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  line-height: 1.5237rem;
  margin: 1% 0;
}
.inputs {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
}
.login-input-block,
.password-input-block {
  background-color: white;
  border: solid 1px rgba(211, 211, 211, 1);
  border-radius: 3px;
  height: 48px;
  width: 33%;
  display: flex;
  padding-left: 2%;
}
.login-input {
  height: 100%;
  width: 93%;
  padding-left: 3%;
  border: 0;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 16px;
}
.password-input {
  height: 100%;
  width: 80%;
  padding-left: 3%;
  border: 0;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 16px;
}
.login-input::placeholder {
  font-weight: 500;
  font-size: 16px;
}
.password-input::placeholder {
  font-weight: 500;
  font-size: 16px;
}
.password-eye {
  width: 8%;
}
.login-input:focus {
  outline: none;
}
.password-input:focus {
  outline: none;
}
.login-icon,
.password-icon {
  width: 7%;
}
.login-button {
  background-color: rgba(255, 0, 0, 1);
  border: solid 1px rgba(211, 211, 211, 1);
  border-radius: 3px;
  height: 48px;
  width: 33%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}
.login-adapt-button {
  display: none;
}
.forgot-pass-text {
  font-weight: 500;
  color: rgba(255, 0, 0, 1);
  line-height: 1.2188rem;
  font-size: 16px;
}
.forgot-pass-block {
  margin: 2% 0;
}
.footer-image {
  width: 100%;
}
.remember-login {
  margin-top: 3%;
  width: 22%;
  display: flex;
  justify-content: space-around;
}
.remember-login-checkbox {
  border: 1px solid rgba(142, 142, 142, 1);
}
.remember-login-text {
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
}

@media all and (max-width: 768px) {
  * {
    font-size: 14px;
  }
  .login-block {
    width: 90%;
  }
}
@media all and (max-width: 425px) {
  * {
    font-size: 11.5px;
  }
  .login-block {
    width: 90%;
  }
  .inputs {
    display: flex;
    flex-direction: column;
  }
  .login-input-block,
  .password-input-block {
    width: 100%;
    margin-bottom: 3%;
  }
  .login {
    display: none;
  }
  .adapt-login {
    display: inline-block;
  }
  .login-icon,
  .password-icon {
    width: 5%;
  }
  .password-eye {
    width: 6%;
  }
  .password-input {
    width: 87%;
  }

  .remember-login {
    width: 50%;
  }
  .login-button {
    display: none;
  }
  .login-adapt-button {
    display: block;
    width: 100%;
    margin-top: 8%;
  }
  .login-text {
    width: 100%;
    margin-top: 3%;
    font-size: 16px;
  }
}
