* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(245, 245, 245, 1);
}
.content-block {
  width: 100%;
  height: 80vh;
  margin-top: 3%;
}
.navbar {
  height: auto;
}
.navbar-image {
  width: 100%;
}
.footer-image {
  width: 100%;
}
.personal-block {
  width: 62%;
  margin: auto;
  display: flex;
}
.personal-area-block {
  width: 30%;
}
.personal-area-title {
  color: rgba(255, 0, 0, 1);
  font-size: 1.5rem;
  font-weight: 500;
}
.personal-area-list {
  margin: 5% 0;
}
.personal-area-list > li {
  list-style-type: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 3rem;
  padding-left: 7%;
  width: 90%;
  margin-right: 2%;
}
.personal-item-text {
  margin-left: 3%;
}
.personal-area-list > li:first-child {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
}
.personal-data-block {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 1% 2%;
  width: 70%;
}
.personal-data-title {
  padding: 2%;
  display: flex;
  align-items: center;
}
.person-name {
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 1);
  margin-left: 3%;
}
.password-block {
  display: flex;
  background-color: rgba(239, 239, 239, 1);
  border-radius: 2px;
  height: 4rem;
  justify-content: space-around;
  align-items: center;
}
.change-password {
  width: 90%;
  display: flex;
  align-items: center;
}
.add-number-text-block {
  display: flex;
  flex-direction: column;
}

.add-number-info-text {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.add-number-plus {
  width: 3%;
}
.phone-icon {
  width: 3.5%;
}
.add-number-block,
.email-block {
  display: flex;
  gap: 2% 2%;
  align-items: center;
  padding: 0 1.3%;
  height: 4rem;
}
.add-number-block {
  padding-left: 1.4%;
}
.email-text,
.password-text,
.number-text {
  font-weight: 600;
}
.email-text {
  margin-left: 0.7%;
}
.number-text {
  margin-left: 1%;
}
.person-number {
  font-weight: 500;
  margin-left: 2%;
}
.person-email {
  font-weight: 500;
  margin-left: 6%;
}
.password-text {
  margin-left: 2.5%;
}
.password-date {
  font-weight: 500;
  margin-left: 5.8%;
}
