.back-block {
  display: flex;
  align-items: center;
  position: absolute;
  left: 20%;
  gap: 8px;
}
.back-text {
  font-size: 0.875rem;
  color: rgba(142, 142, 142, 1);
  padding-left: 1%;
}

.back-icon {
  background: rgba(228, 228, 228, 1);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F5F5F5;
  padding-top: 24px;
  gap: 16px;
  padding-bottom: 46px;
}

.information {
  width: 423px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 2px;
  gap: 16px;
  padding: 16px;
  background: #FFF;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.09);
}

.information__title {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.information__block {
  display: flex;
  justify-content: space-between;
}

.information__labels, .information__data {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.information__labels h4, .information__data h4 {
  color: #3E3E3E;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sum-label {
  margin-top: 8px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.order-details {
  width: 423px;
  background: #F5F5F5;
  position: relative;
  z-index: 5;
}

.card-details {
  width: 100%;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 16px;
  background: #2B2B2B;
  position: relative;
}

.circle {
  width: 100%;
  height: 385px;
  flex-shrink: 0;
  border-radius: 441.259px;
  background: rgba(255, 0, 0, 0.28);
  position: absolute;
  left: 0px;
  top: 52px;
  z-index: 1;
}

.card-title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

.input-block {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.input-block input {
  border-radius: 2px;
  height: 38px;
  background: #EEE;
  border: none;
  margin-bottom: 12px;
  margin-top: 6px;
  padding: 11px 12px;
  z-index: 2;
}

.input-block label {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  z-index: 2;
}

.card-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.card-data input {
  width: 110px;
  z-index: 2;
}

.card-warning__text {
  width: 147px;
  color: #BFBFBF;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 2;
}

.email-input {
  border-radius: 2px;
  height: 38px;
  width: 100%;
  background: #EEE;
  border: none;
  padding: 11px 12px;
  margin-top: 24px;
  z-index: 100;
}

.checkbox-block {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  z-index: 100;
}

.card__bottom-block {
  position: relative;
  z-index: 5;
  background: #F5F5F5;
}

.checkbox-text {
  color: #8E8E8E;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.checkbox-under-text {
  color: #8E8E8E;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 11px;
}

.checkbox-under-text span {
  color: rgba(255, 0, 0, 1);
}

.submit-btn {
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.50);
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-top: 57px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #F00;
}

.cancel-btn {
  margin-top: 9px;
  background-color: transparent;
  color: #7F7F7F;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  padding: 15px;
  width: 100%;
  cursor: pointer;
}

.order-details-description {
  color: #3E3E3E;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.email-password-input {
  border-radius: 2px;
  height: 38px;
  width: 100%;
  background: #EEE;
  border: none;
  padding: 11px 12px;
  margin-top: 24px;
  text-align: center;
  color: #000;
}
.email-password-input::placeholder {
  color: #000;
}

.get-password {
  color: #F00;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}

.text-bold h4{
  font-weight: 500;
  color: #000;
}

.receipt__sum-label {
  margin-top: 16px;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.receipt__sum-value {
  margin-top: 16px;
  color: #F00;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.break-line {
  margin-top: 16px;
  background: #DCDCDC;
  height: 1px;
  border: none;
}

.support-text {
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 40px;
}
.support-text span {
  color: #F00;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#box {
  position: relative;
  width: 423px;
  height: 20px;
  margin-left: 0px;
  margin-top: -16px;
}

#content {
  width: 100%;
  height: 100%;
  background: #FFF;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 70% 100%, 0 100%);
  clip-path:polygon( 0 0, 2.5% 100%, 5% 0, 7.5% 100%, 10% 0,12.5% 100%,15% 0, 17.5% 100%, 20% 0,22.5% 100%,25% 0, 27.5% 100%, 30% 0,32.5% 100%,35% 0, 37.5% 100%, 40% 0,42.5% 100%,45% 0, 47.5% 100%, 50% 0,52.5% 100%,55% 0, 57.5% 100%, 60% 0,62.5% 100%,65% 0, 67.5% 100%, 70% 0,72.5% 100%,75% 0, 77.5% 100%, 80% 0,82.5% 100%,85% 0, 87.5% 100%, 90% 0,92.5% 100%,95% 0, 97.5% 100%, 100% 0);
}

#shadow {
  position: absolute;
  z-index: -1;
  content: "";
  background: rgba(0, 0, 0, .1);
  width: 100%;
  height: 120px;
  left: 1px;
  top: 10px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 70% 100%, 0 100%);
  clip-path:polygon( 0 0, 2.5% 100%, 5% 0, 7.5% 100%, 10% 0,12.5% 100%,15% 0, 17.5% 100%, 20% 0,22.5% 100%,25% 0, 27.5% 100%, 30% 0,32.5% 100%,35% 0, 37.5% 100%, 40% 0,42.5% 100%,45% 0, 47.5% 100%, 50% 0,52.5% 100%,55% 0, 57.5% 100%, 60% 0,62.5% 100%,65% 0, 67.5% 100%, 70% 0,72.5% 100%,75% 0, 77.5% 100%, 80% 0,82.5% 100%,85% 0, 87.5% 100%, 90% 0,92.5% 100%,95% 0, 97.5% 100%, 100% 0);
}

.receipt-date {
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}

.title-block {
  position: relative;
}

.share-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.exit-btn {
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #F00;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-top: 57px;
  cursor: pointer;
}

.exit-btn-white {
  text-align: center;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid #F00;
  background: #FFF;
  color: #F00;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 50px;
}

.success-text {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

.success-sub-text {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  margin-top: -8px;
}

.receipt__icon-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}

.polygon-icon {
  width: 108px;
  height: 108px;
}

.tick-icon {
  position: absolute;
}

.input-blocks {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 425px) {
  .back-block {
    display: none;
  }

  .content {
    width: 100%;
  }

  .order-details {
    width: calc(100% - 32px);
  }

  .card-details {
    width: 100%;
  }

  .information {
    width: calc(100% - 32px);
    margin: 0;
  }

  .input-blocks {
    width: 100%;
  }

  .card-data {
    flex-direction: column;
    align-items: flex-end;
  }

  .card-data input {
    width: 100%;
  }

  .card-warning__text {
    font-size: 12px;
  }

  #box {
    width: calc(100% - 32px);
  }

  .circle {
    width: 300px;
    height: 420px;
    border-radius: 20px 50% 50% 50%;
    top: 100px;
    left: 0px;
  }
}